/* Header */
.h-container {
  display: flex;
  align-items: center;
  min-height: 80px;
  box-shadow: 0px 15px 10px -15px #241023;
}

.h-row {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.h-col:first-child {
  display: flex;
  align-items: center;
  flex: 3;
}

.h-logo {
  flex: 1;
}

.h-logo,
.logo {
  font-size: 40px;
  color: #241023;
}

.h-menu {
  flex: 2;
}

.h-col:last-child {
  flex: 1;
}

.menu-item,
.second-menuItem {
  display: flex;
}

.menu-item li {
  margin-right: 20px;
}

.second-menuItem {
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
}

.second-menuItem li {
  margin-left: 20px;
}

.menu-item li a,
.second-menuItem li a {
  position: relative;
  color: #241023;
}

.menu-item li a::after,
.second-menuItem li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: #d5e68d;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.1);
}

.menu-item li a:hover::after,
.second-menuItem li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-badge {
  font-size: 16px;
  color: #241023;
  font-weight: bold;
}

/* Banner section*/

.i-container {
  position: relative;
  height: calc(100vh - 100px);
  background: url('../public/assets/images/intro.jpg') 50% 50% no-repeat;
}

.i-col {
  position: absolute;
  right: 7%;
  top: 3%;
}

.i-title {
  font-size: 24px;
  color: #6b0504;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.i-subtitle {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.i-shopBtn {
  display: block;
  background-color: #d5e68d;
  padding: 10px 15px;
  margin-top: 15px;
  margin-left: 210px;
  color: #241023;
  width: max-content;
  box-shadow: 0 0 3px #d5e68d;
  transition: all 0.5s;
}

.i-shopBtn:hover {
  background-color: #241023;
  color: #d5e68d;
}

.i-colArrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.i-colArrow a {
  font-size: 35px;
  color: #d5e68d;
  animation: arrow 2s linear infinite;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* Blog section*/

.hb-container {
  min-height: 100vh;
}

.hb-col {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hb-more {
  width: max-content;
  color: #241023;
  position: relative;
}

.hb-more::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: #d5e68d;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.1);
}

.hb-more:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hb-blogDiv {
  display: block;
  margin: 100px auto 20px auto;
  width: 80%;
  min-height: 60vh;
  box-shadow: 0 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff,
    12px 0 15px -4px #241023, -12px 0 15px -4px #241023;
}

.hb-blogs {
  columns: 2 250px;
  column-gap: 15px;
  width: 90%;
  margin: 0 auto;
}

.hb-blog {
  margin: 0 auto 15px auto;
  display: inline-block;
  border: 2px solid #241023;
  width: 100%;
  padding: 30px 5px;
  border-radius: 5px;
  overflow: hidden;
}

.hb-blogTitle {
  margin-bottom: 10px;
  text-align: center;
  color: #241023;
}

.hb-desc {
  text-align: center;
  font-style: italic;
  color: #241023;
}

.hb-blogFooter {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.hb-blogFooter span {
  margin-left: 15px;
  color: #241023;
}

/* Products section*/

.nps-container {
  min-height: 100vh;
}

.nps-title {
  text-align: center;
  margin-bottom: 25px;
  color: #241023;
}

.nps-groups,
.w-groups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0 auto;
  width: 90%;
}

.np-group {
  width: 250px;
}

.np-body {
  height: 455px;
}

.product-img {
  width: 100%;
  box-shadow: 0 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff,
    12px 0 15px -4px #241023, -12px 0 15px -4px #241023;
}

.np-footer {
  position: relative;
  height: 100px;
  padding: 0 5px;
  background-color: #d5e68d;
}

.np-footerDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #d6e68d7a;
  bottom: 0;
  top: -40px;
  width: calc(100% - 10px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.np-category {
  color: #241023;
  margin-top: 5px;
  text-transform: uppercase;
}

.np-titleProduct,
.np-price {
  color: #241023;
}

.np-footerSubDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.np-star {
  font-size: 20px;
  color: #241023;
}

/* Footer section*/
.f-row {
  display: flex;
}

.f-row:first-child {
  margin-bottom: 30px;
}

.f-col {
  flex: 1;
  text-align: center;
}

.f-col a {
  position: relative;
  color: #241023;
  font-size: 20px;
}

.f-col a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: #d5e68d;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.1);
}

.f-col a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.f-copyright {
  display: flex;
  justify-content: center;
  width: 100%;
}

.f-copyright span {
  font-size: 14px;
}

/* Login & Register */
.si-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.si-formGroups {
  width: 500px;
  border: 1px solid #241023;
  padding: 5px;
  box-shadow: 0 0 2px #241023;
}

.si-title {
  text-align: center;
  color: #241023;
  margin: 20px 0 30px 0;
}

.si-formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.si-label {
  margin-bottom: 5px;
}

.si-input {
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #241023;
  padding: 5px;
}

.si-loginBtn {
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all 0.5s;
  background-color: #241023;
  box-shadow: 0 0 4px #241023;
  color: #ffffff;
  border: none;
  letter-spacing: 2px;
}

.si-loginBtn:hover {
  background-color: #47a025;
  color: #ffffff;
}

.si-formRegister {
  margin: 20px 0;
  text-align: center;
}

.si-formRegister a {
  color: #241023;
  font-size: 14px;
  position: relative;
}

.si-formRegister a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: #d5e68d;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.1);
}

.si-formRegister a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Shop */
.smp-container,
.w-container,
.ci-container {
  margin: 50px 0;
}

.smp-title,
.w-title,
.ci-title {
  text-align: center;
  color: #241023;
  margin-bottom: 30px;
}

.smp-row:last-child {
  display: flex;
}

.smp-col:first-child {
  flex: 1;
}

.smp-col:last-child {
  flex: 3;
}

.sf-group {
  margin-top: 50px;
}

.sf-groupTitle {
  font-size: 16px;
}

.c-filterDiv,
.s-filterDiv,
.sc-filterDiv {
  margin-top: 15px;
}

.c-filterBtns,
.s-filterBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.c-btn,
.s-btn {
  background-color: #241023;
  box-shadow: 0 0 4px #241023;
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  transition: all 0.5s;
}

.c-btn:hover,
.s-btn:hover {
  background-color: #47a025;
  color: #ffffff;
}

.s-filterInput {
  height: 35px;
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.sc-checkbox {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #241023;
}

.sc-check {
  cursor: pointer;
  filter: invert(0%) sepia(7%) saturate(0%) hue-rotate(85deg) brightness(102%)
    contrast(107%);
  width: 20px;
  height: 20px;
}

.sc-filterLabel {
  font-weight: bold;
  cursor: pointer;
}

.rc-slider-handle {
  border-color: #241023 !important;
}

.rc-slider-track {
  border-color: #241023 !important;
}

.rc-slider-dot-active {
  border-color: #241023 !important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 2px #241023 !important;
}

.sps-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 50px;
}

/* Wish List*/
.w-trash {
  color: rgb(224, 10, 10);
  font-size: 20px;
}

.w-trashBtn {
  display: block;
  background-color: transparent;
  border: none;
  margin: 15px auto 0 auto;
}

.w-trash:hover {
  color: #47a025;
}

/* Shopping Cart*/
.ci-row {
  display: flex;
}

.ci-col:first-child {
  flex: 3;
}

.ci-col:last-child {
  flex: 1;
}

.ci-otherDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #24102342;
}

.w-trashBtn.cart-trash {
  margin: unset !important;
}

.ci-minus,
.ci-plus {
  background: none !important;
  border: none !important;
  font-size: 30px;
  color: #241023;
  margin: 0 10px;
}

.ci-minus:hover,
.ci-plus:hover {
  color: #2410238e;
}

.ci-quantity {
  font-size: 22px;
}

.bill-title {
  text-align: center;
  margin-bottom: 30px;
  color: #241023;
}

.bill-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px dashed #241023;
}

.bill-total {
  margin-top: 50px;
}

.bill-btn {
  margin-top: 30px;
}

.bill-btn button {
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all 0.5s;
  background-color: #241023;
  box-shadow: 0 0 4px #241023;
  color: #ffffff;
  border: none;
  letter-spacing: 2px;
}

.bill-btn button:hover {
  background-color: #47a025;
  color: #ffffff;
}
